body {
  color: white; }

.wrapper {
  margin-top: 100px; }

.text-white {
  color: white; }

.top-bar, .top-bar ul {
  background-color: white;
  color: #333; }

.brand-logo {
  fill: #008287; }

.button.hollow {
  font-family: 'Poiret One';
  font-size: 15px;
  font-transform: uppercase;
  color: white;
  border: 1px solid white;
  letter-spacing: 2.5px;
  font-weight: 700; }
  .button.hollow:hover {
    color: #e6e6e6;
    border: 2px solid #e6e6e6; }

[data-btn|=enter] {
  margin-top: 30px; }

.container--white {
  background-color: white;
  color: #333; }
