
.img-panel {
  @include panel();
  background-color: transparent;

  // background-image: url('/public/img/mural_p45.jpg');
  background-size: 30rem;
  background-repeat: no-repeat;
  background-position: top, center;
  background-clip:padding-box;
  height: rem-calc(400px);
  border: none;
}
.img-panel__art{
  @extend .img-panel;
  background-image: url('http://www.arttreeoflife.com/public/img/mural_p75.jpg');
}
.img-panel__general{
  @extend .img-panel;
  background-image: url('https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/13698025_1169702026384793_1376895979484016748_o.jpg');
}
.img-panel__code{
  @extend .img-panel;
}
.resume-panel {
  @include panel();
  // margin-top: rem-calc(40px);
  // background-clip: content-box;
  // border: none;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  height: rem-calc(50px);
}

@media only screen and (max-width: 40em) {
  .img-panel{
    // @include panel();
    background-size: 25rem;
    height: rem-calc(300px);

    }
} /* Define mobile styles */
