// Core
@import "normalize";
@import "../foundation";
@import "variables";
// @import "base";
// @import "mixins";
// resources/assets/sass/valerie.scss
// UI Kit
@import "type";
// @import "buttons";
// @import "nav";
// @import "navbar";
// @import "forms";
// @import "grid";
// @import "posts";
// @import "helpers";
@import "panels";

$white:			#FFFFFF;
// branding colors 
$brand-primary: #2FAFB0;
$brand-purple:	#8277AF;
$brand-blue:	#136582;
$brand-yellow:	#FFBC42;

$text-color:	#565453;
$text__darker:	#2B3D41;
$text__light:	#9B9B9B;

.about {
	margin-top: 15px;
}
// Vertebrae
// @import "theme";
body{
	color: $white;
	// background-color: lightblue;
	// font-size: 18px;
}
.main {
	margin-top: 100px;
}
.text-white {
	color: $white;
}
.top-bar {
  height: 2.9125rem;	
}
.top-bar, .top-bar ul {
	background-color: $white;
	color: #333;

}
.brand-logo {
	fill: $primay;
}

.button.hollow {
	font-family: 'Poiret One';
	font-size: 15px;
	font-transform: uppercase;
	color: $white;
	border: 1px solid $white;
	letter-spacing: 2.5px;
	font-weight: 700;
	&:hover {
		color: darken($white, $hover-darken-ammount);
		border: 2px solid darken($white, $hover-darken-ammount);
	}
}
[data-btn |= enter] {
	margin-top: 30px;
	// margin: 0;
	// display: block;
}

.container__white {
  background-color: $white;
  color: $black;
	padding-bottom: rem-calc(20px);
	padding-top: rem-calc(5px);
}

.containter--about p {
  // padding: 0 100px;
  padding: 1rem;
}
[data-change-title |= default]:active    /* height: 2.8125rem; */ {
	color: $primay;
}

// data-change-content="default"
// welcome page 
// .welcome--logo{
//   width: rem-calc(700);
//   z-index: -10;
// }
.welcome--container {
	background-image: url('../img/logo_main_page.png');
	height: rem-calc(575);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
}
.welcome--container h1 {
	margin-top: rem-calc(180);
}
// about page 
.about-btn {
	width: 100px;
	height: 100px;
	padding: 10px;
	color: $white;
}
.about-btn__psych {
	@inclue .about-btn;
	background-color: $brand-primary;
	color: $white;
}
.about-btn__code {
	background-color: $brand-purple;
}
.about-btn__art {
	background-color: $brand-blue;
}